body {
        background-color: #100f0d !important;
        color: #817d71 !important;
    }
code {
        color: #837e6a !important;
        background-color: #1a1a1a !important;
}
pre {
        border-color: #4183c4 !important;
        background-color: #1a1a1a !important;
}
hr {
        border-top-color: #5C5044!important;
}
em {
        color: #E51E21 !important;
}
a:link, th a:visited {
        color: #573627 !important;
}
a:visited {
        color: #573627 !important;
 }
    a:hover {
        color: #573627 !important;
    }
    a:active {
        color: #837e6a !important;
    }
    h2 {
        border-bottom-color: #606060 !important;
    }
    h1, h2, h3, h4, h5, th {
        color: #573627 !important;
    }
    div.box {
        background-color: #0C0C0C !important;
        border-color: #1E2934 !important;
    }
    table.pretty1 {
        border-color: #1E2934 !important;
    }
    div.tableblock > table {
        border-color: #606060 !important;
    }
    .pretty1 th {
        background-color: #121212 !important;
        border-color: #1E2934 !important;
    }
    .pretty1 td {
        border-color: #1E2934 !important;
    }
    table.pretty2 {
        border-color: #373737 !important;
    }
    .pretty2 th {
        background-color: #151515 !important;
        border-color: #373737 !important;
    }
    .pretty2 td {
        border-color: #373737 !important;
    }
    dl dt, dl dd {
        border-top-color: #373737 !important;
    }
    dl dt {
        color: #A5A5A5 !important;
    }
    #sys-message {
        background-color: #0D0D0D !important;
        border-color: #BA1715 !important;
    }
    ul.errorlist {
        color: #BA1715 !important;
    }
    table thead th.tablesorter-headerAsc {
        background-color: #121212 !important;
        
    }
    table thead th.tablesorter-headerDesc {
        background-color: #121212 !important;
     
    }
    #news h4 {
        border-bottom-color: #373737 !important;
    }
    #news h3 a {
        background-color: #1a1a1a !important;
        border: none !important;
        color: #C3C3C3 !important;
    }
    #news a:active {
        color: #C3C3C3 !important;
    }
    h3 span.arrow {
        border-top-color: #1a1a1a !important;
    }
    #pkgsearch {
        background-color: #100f0d !important;
        color: #199ADF !important;
        border-color: #1E2934 !important;
    }
    #pkgsearch input {
        color: #CFCFCF !important;
        background-color: #0D0D0D !important;
        border-color: #1E2934 !important;
    }
    .pkgsearch-typeahead {
        background-color: #100f0d !important;
        border-color: #1E2934 !important;
    }
    .pkgsearch-typeahead li a {
        color: #CFCFCF !important;
    }
    .pkgsearch-typeahead li.active a {
        color: #573627 !important;
    }
    #pkg-updates span.staging {
        color: #8B3B0F !important;
    }
    #artwork img.inverted {
        background-color: #090909 !important;
    }
    div.news-article .article-info {
        color: #535353 !important;
    }
    #arch-downloads h3 {
        border-bottom-color: #373737 !important;
    }
    table.results {
        border-top-color: #535353 !important;
        border-bottom-color: #535353 !important;
    }
    .results th {
        border-bottom-color: #535353 !important;
        background-color: #0D0D0D !important;
    }
    .results tr.odd {
        background-color: #0D0D0D !important;
    }
    .results tr.even {
        background-color: #121212 !important;
    }
    .results .flagged {
        color: #BA1715 !important;
    }
    .ulist ul li p {
        color: #89816a !important;
    }
    #pkgdetails #detailslinks > div {
        background-color: #151515 !important;
        border-color: #373737 !important;
    }
    #pkgdetails #actionlist .flagged {
        color: #BA1715 !important;
    }
    #pkgdetails #metadata h3 {
        background-color: #1C1C1C !important;
        color: #199ADF !important;
    }
    #pkgfilelist li.d {
        color: #573627 !important;
    }
    .arch-bio-entry td.pic img {
        border-color: #292929 !important;
    }
    .arch-bio-entry td h3 {
        border-bottom-color: #292929 !important;
    }
    .arch-bio-entry table.bio th {
        color: #573627 !important;
    }
    #dash-pkg-notify {
        border-top-color: #373737 !important;
    }
    .todo-table .complete, .signoff-yes, #key-status .signed-yes, #releng-result .success-yes, #release-list .available-yes {
        color: #4AEB4D !important;
    }
    .todo-table .incomplete, .signoff-no, #key-status .signed-no, #releng-result .success-no, #release-list .available-no {
        color: #BA1715 !important;
    }
    .todo-table .inprogress, .signoff-bad {
        color: #BA7215 !important;
    }
    .todo-info {
        color: #535353 !important;
    }
    #dev-signoffs tr:hover {
        background-color: #1a1a1a !important;
    }
    .signoff-disabled {
        color: #676767 !important;
    }
    #visualize-archrepo .treemap-cell {
        border-color: #199ADF !important;
    }
    #archnavbar {
        background-color: #090909 !important;
        border-bottom-color: #199ADF !important;
    }
    #archnavbarlist li a {
        color: #535353 !important;
    }
    #archnavbarlist li a:hover {
        color: #199ADF !important;
        text-decoration: none !important;
    }
    input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], textarea {
        background-color: #181818 !important;
        border: 1px solid #ccc !important;
        border-radius: 3px !important;
        padding: 2px !important;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset !important;
        color: #f3f3f3 !important;
        font-size: 13px !important;
        outline: medium none !important;
    }
    input[type="text"]:focus, input[type="search"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="url"]:focus, textarea:focus {
        border-color: #4183c4 !important;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset, 0 0 2px #4183c4 !important;
    }
    input[class="button"], input[type="submit"], input[type="file"] {
        font: 13px/1.4 Helvetica,arial,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol" !important;
        cursor: pointer !important;
        background: none repeat scroll 0 0 #181818 !important;
        border: 1px solid #ccc !important;
        color: #c4c4c4 !important;
        border-radius: 3px !important;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset !important;
    }
    input[class="button"]:hover, input[type="submit"]:hover, input[type="file"]:hover {
        background-color: #333333 !important;
        background-image: linear-gradient(#444444, #333333) !important;
        background-repeat: repeat-x !important;
    }
    select {
        padding: 2px 4px 2px 2px !important;
        font: 13px/1.4 Helvetica,arial,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol" !important;
        box-sizing: border-box !important;
        background: none repeat scroll 0 0 #181818 !important;
        border: 1px solid #444 !important;
        color: #eee !important;
    }
    #actionlist a:hover {
        text-decoration: none !important;
        color: #199ADF !important;
        background-color: #333333 !important;
        background-image: linear-gradient(#444444, #333333) !important;
    }
    #actionlist input {
        text-decoration: none !important;
        color: #199ADF !important;
        border: none !important;
        font-size: 1em !important;
    }


    table.tabs tbody tr td a.active {
        background-color: #CCC !important;
        color: #000 !important;
    }
    div#cgit div.path {
        padding-bottom: 7px;
        background-color: #000 !important;
        color: #89816a !important;
    }
    .cgit-panel form table, .content table tbody tr { background-color: #000 !important; }

    /* source code colours */
    code, pre, table.blob tbody tr, table.stats tbody tr th { background-color: #262626 !important; }
    code, code .hl.kwc, code .hl.kwb { color: #87d7ff !important; }
    code .hl.slc { color: #6c6c6c !important; }
    code .hl.opt { color: #eaeaea !important; }
    code .hl.kwd { color: #87d7ff !important; }
    code .hl.str { color: #837e6a !important; }
    code .hl.ipl { color: #ffd787 !important; }
    code .hl.num, code .hl.kwa { color: #d75f5f !important; }
    code .hl.kwc, code .hl.kwa, code .hl.kwb, code .hl.num { font-weight: bold; }

    /* diff */
    table.diff tbody tr { background-color: #262626 !important; }
    table.diff .head { color: #eaeaea !important; }
    table.diff .head a { color: #ffd787 !important; }
    table.diff .hunk { color: #6c6c6c !important; }
    table.diff .add { color: #87d7ff !important; }
    table.diff .del { color: #d75f5f !important; }
    table.diff .ctx { color: #eaeaea !important; }}

/* bugs.archlinux.org */
    .calendar {
        border-top-color: #199ADF !important;
        border-right-color: #CFCFCF !important;
        border-bottom-color: #CFCFCF !important;
        border-left-color: #199ADF !important;
    }
    .calendar table {
        border-top-color: #199ADF !important;
        border-right-color: #CFCFCF !important;
        border-bottom-color: #CFCFCF !important;
        border-left-color: #199ADF !important;
    }
    .calendar thead .title {
        border-color: #CFCFCF !important;
    }
    .calendar thead .weekend {
        color: #BA1715 !important;
    }
    .calendar tbody .day.othermonth {
        color: #454545 !important;
    }
    .calendar tbody .day.othermonth.oweekend {
        color: #3E0807 !important;
    }
    .calendar tbody td.hilite {
        border-top-color: #199ADF !important;
        border-right-color: #CFCFCF !important;
        border-bottom-color: #CFCFCF !important;
        border-left-color: #199ADF !important;
    }
    .calendar tbody td.weekend {
        color: #BA1715 !important;
    }
    .calendar tbody td.today {
        color: #1715BA !important;
    }
    .calendar tfoot .hilite {
        border-top-color: #199ADF !important;
        border-right-color: #CFCFCF !important;
        border-bottom-color: #CFCFCF !important;
        border-left-color: #199ADF !important;
        background-color: #252525 !important;
    }
    .calendar tfoot .active {
        border-top-color: #CFCFCF !important;
        border-right-color: #199ADF !important;
        border-bottom-color: #199ADF !important;
        border-left-color: #CFCFCF !important;
    }
    .calendar .combo .active {
        border-color: #CFCFCF !important;
    }
    .calendar td.time .hour, .calendar td.time .minute, .calendar td.time .ampm {
        border-color: #54545F !important;
    }
    .calendar td.time span.hilite {
        border-color: #CFCFCF !important;
    }
    .calendar td.time span.active {
        border-color: #BA1715 !important;
        background-color: #837e6a !important;
        color: #15BA17 !important;
    }
    body {
        background-color: #100f0d !important;
        color: #CFCFCF !important;
    }
    img.depimage, object.depimage {
        border-color: #CFCFCF !important;
        background-color: #0D0D0D !important;
    }
    div#showvotes {
        background-color: #1a1a1a !important;
        color: #CFCFCF !important;
        border-color: #CFCFCF !important;
    }
    h1#title a {
        background-color: #A0A0A0 !important;
    }
    input.required {
        border-color: #BA1715 !important;
    }
    select {
        padding: 2px 4px 2px 2px !important;
        border-color: #676767 !important;
    }
    div.box, p.box, table.userlist {
        border-color: #292929 !important;
        background-color: #1a1a1a !important;
        color: #CFCFCF !important;
    }
    table.userlist td, table.userlist th {
        border-color: #292929 !important;
    }
    div#menu {
        border-top-color: #292929 !important;
        border-bottom-color: #292929 !important;
        background-color: #1a1a1a !important;
    }
    div#pm-menu {
        border-bottom-color: #292929 !important;
        background-color: #1a1a1a !important;
    }
    div#menu, div#pm-menu {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    div#menu a.active {
        background-color: #0D0D0D !important;
    }
    ul#menu-list li, ul#pm-menu-list li {
        border-left-color: #CFCFCF !important;
    }
    ul.comment_changes {
        color: #676767 !important;
    }
    div#mysearches {
        background-color: #0D0D0D !important;
        border-right-color: #292929 !important;
        border-bottom-color: #292929 !important;
        border-left-color: #292929 !important;
    }
    div#mysearches table tr {
        border-bottom-color: #676767 !important;
    }
    #profilelink {
        background-image: ;
    }
    #reportslink {
        background-image: ;
    }
    #editmydetailslink {
        background-image: ;
    }
    #lastsearchlink {
        background-image: ;
    }
    #logoutlink {
        background-image: ;
    }
    #optionslink {
        background-image: ;
    }
    #projectslink {
        background-image: ;
    }
    div#search {
        border-color: #676767 !important;
        background-color: #1a1a1a !important;
    }
    div#search button {
        color: #199ADF !important;
    }
    span#searchstate a {
        color: #CFCFCF !important;
    }
    div#tasklist {
        border-color: #676767 !important;
        color: #CFCFCF !important;
        background-color: #1a1a1a !important;
    }
    div#tasklist table th {
        border-bottom-color: #292929 !important;
    }
    div#tasklist table td {
        border-bottom-color: #292929 !important;
    }
    div#taskdetails {
        background-color: #1a1a1a !important;
        border-color: #CFCFCF !important;
    }
    p#footer {
        background-color: #A0A0A0 !important;
        border-color: #199ADF !important;
        color: #199ADF !important;
    }
    button {
        color: #199ADF !important;
        background-color: #666666 !important;
        border-color: #CFCFCF !important;
    }
    button:hover {
        background-image: ;
    }
    div.redirectmessage {
        border-color: #292929 !important;
        background-color: #1a1a1a !important;
    }
    form#newgroup strong {
        color: #BA1715 !important;
    }
    div.preview {
        border-color: #657F9B !important;
    }
    .tabentry {
        border-bottom-color: #292929 !important;
    }
    strong.reopened {
        background-color: #0D0D0D !important;
        border-color: #BA1715 !important;
    }
    .severity1 {
        background-color: #101010 !important;
        color: #CFCFCF !important;
    }
    .severity1:hover {
        background-color: #202020 !important;
        color: #CFCFCF !important;
    }
    .severity2 {
        background-color: #171717 !important;
        color: #CFCFCF !important;
    }
    .severity2:hover {
        background-color: #272727 !important;
        color: #CFCFCF !important;
    }
    .severity3 {
        background-color: #1E1E1E !important;
        color: #CFCFCF !important;
    }
    .severity3:hover {
        background-color: #2E2E2E !important;
        color: #CFCFCF !important;
    }
    .severity4 {
        background-color: #252525 !important;
        color: #CFCFCF !important;
    }
    .severity4:hover {
        background-color: #353535 !important;
        color: #CFCFCF !important;
    }
    .severity5 {
        background-color: #2C2C2C !important;
        color: #CFCFCF !important;
    }
    .severity5:hover {
        background-color: #3C3C3C !important;
        color: #CFCFCF !important;
    }
    div#fineprint {
        border-bottom-color: #292929 !important;
    }
    table.history {
        background-color: #1a1a1a !important;
        color: #CFCFCF !important;
    }
    table.history td {
        border-bottom-color: #292929 !important;
        border-left-color: #292929 !important;
    }
    td#taskfieldscell {
        border-right-color: #292929 !important;
    }
    div#taskinfo {
        border-bottom-color: #292929 !important;
        border-top-color: #292929 !important;
    }
    div#taskstatus {
        border-bottom-color: #292929 !important;
    }
    div#taskclosed {
        background-color: #0D0D0D !important;
        border-color: #BA1715 !important;
    }
    a.button {
        
        color: #199ADF !important;
        border-color: #CFCFCF !important;
    }
    a.button:hover {
        
    }
    div.popup {
        background-color: #1a1a1a !important;
        color: #CFCFCF !important;
        border-color: #CFCFCF !important;
    }
    div.denyform {
        background-color: #1a1a1a !important;
        color: #CFCFCF !important;
        border-color: #CFCFCF !important;
    }
    fieldset {
        background-color: #1a1a1a !important;
        color: #CFCFCF !important;
        border-color: #676767 !important;
    }
    fieldset legend {
        border-color: #CFCFCF !important;
        background-color: #898989 !important;
        color: #199ADF !important;
    }
    div.bar {
        color: #199ADF !important;
    }
    div.error {
        background-color: #828282 !important;
    }
    div.mixed {
        background-color: #828282 !important;
    }
    div.success {
        background-color: #C0C0C0 !important;
    }
    div#toolboxmenu a {
        border-color: #CFCFCF !important;
    }
    div#toolboxmenu a:hover {
        color: #355476 !important;
        background-color: #191919 !important;
    }
    div.tbuttons {
        background-color: #1a1a1a !important;
        border-color: #090E13 !important;
    }
    #submenu a, div.tab {
        color: #CFCFCF !important;
        border-color: #676767 !important;
        background-color: #1a1a1a !important;
    }
    #submenu a {
        background-color: #151515 !important;
    }
    #submenu a.active {
        color: #CFCFCF !important;
        border-bottom-color: #090E13 !important;
        background-color: #1a1a1a !important;
    }
    #submenu a:hover {
        color: #CFCFCF !important;
    }
    #submenu a {
        color: #535353 !important;
    }
    div#permissions table {
        color: #CFCFCF !important;
        background-color: #0D0D0D !important;
        border-color: #CFCFCF !important;
    }
    div.pendingreq {
        border-color: #BA1715 !important;
        background-color: #0D0D0D !important;
    }
    a.pendingreq, span#locked {
        color: #BA1715 !important;
    }
    div.attachments {
        background-color: #303030 !important;
        border-color: #676767 !important;
    }
    table.attachments {
        background-color: #303030 !important;
        border-color: #676767 !important;
    }
    div#error {
        background-color: #232323 !important;
        color: #CFCFCF !important;
        border-color: #BA1715 !important;
    }
    .date {
        color: #657F9B !important;
        background-color: #0D0D0D !important;
        border-color: #676767 !important;
    }
    .date:hover {
        color: #355476 !important;
        background-color: #0D0D0D !important;
    }
    a:link, a:visited {
        color: #657F9B !important;
    }
    a:hover {
        color: #355476 !important;
    }
    p#footer a:link, p#footer a:visited, p#footer a:hover {
        color: #199ADF !important;
    }
    table.requests {
        border-color: #676767 !important;
    }
    table.requests th {
        border-left-color: #676767 !important;
    }
    table.requests td {
        border-color: #676767 !important;
    }
    pre.code {
        border-color: #676767 !important;
        background-color: #080808 !important;
    }
    .good {
        color: #4AEB4D !important;
    }
    .bad {
        color: #BA1715 !important;
    }
    dl.roadmap dd {
        border-color: #676767 !important;
        background-color: #090909 !important;
    }
    dl.roadmap dt {
        border-color: #676767 !important;
    }
    div#updatemsg {
        background-color: #232323 !important;
        color: #CFCFCF !important;
        border-color: #BA1715 !important;
    }
    div#taskdetailstext h1, .commenttext h1 {
        border-bottom-color: #CFCFCF !important;
    }
    div#taskdetailstext h2, .commenttext h2 {
        border-bottom-color: #CFCFCF !important;
    }
    table.inline th {
        border-color: #3B4F59 !important;
        background-color: #1F1F1F !important;
    }
    table.inline td {
        border-color: #3B4F59 !important;
        background-color: #0D0D0D !important;
    }
    .urlextern {
       
    }
    .footnotes {
        border-top-color: #292929 !important;
    }
    blockquote {
        border-color: #676767 !important;
        background-color: #0D0D0D !important;
    }
    blockquote blockquote {
        border-left-color: #3B4F59 !important;
    }
    .search_hit {
        background-color: #373737 !important;
    }
    .fade {
        color: #676767 !important;
    }
    .code .br0 {
        color: #327433 !important;
    }
    .code .es0 {
        color: #3B38E9 !important;
    }
    .code .kw1 {
        color: #E4E727 !important;
    }
    .code .kw2 {
        color: #CFCFCF !important;
    }
    .code .kw3 {
        color: #605DED !important;
    }
    .code .kw4 {
        color: #AE4C4A !important;
    }
    .code .me0 {
        color: #5DED60 !important;
    }
    .code .nu0 {
        color: #743273 !important;
    }
    .code .re4 {
        color: #38E6E9 !important;
    }
    .code .sc0 {
        color: #17B3D3 !important;
    }
    .code .sc1 {
        color: #D3B917 !important;
    }
    .code .sc2 {
        color: #38E93B !important;
    }
    .code .st0 {
        color: #BA1715 !important;
    }
    .code .co1, .code .co2, .code .coMULTI {
        color: #676767 !important;
    }
    .code .kw5, .code .re0, .code .re1, .code .re2 {
        color: #1715BA !important;
    }
    span.autocomplete {
        background-color: #0D0D0D !important;
        color: #4640EA !important;
        border-color: #676767 !important;
    }
    span.autocomplete ul li span.informal {
        color: #676767 !important;
    }
    #controlBox {
        border-color: #676767 !important;
        background-color: #0D0D0D !important;
    }
    #controlBox div.grip {
        background-color: #373737 !important;
    }
    table.list tr.active {
        background-color: #0D0D0D !important;
        
    }
    body {
        background-color: #100f0d !important;
        color: #89816a !important;
    }
    div.tab, fieldset, div.box, p.box, table.userlist, div#tasklist, table.history {
        color: #979797 !important;
    }
    a:link {
        color: #573627 !important;
    }
    a:visited {
        color: #573627 !important;
    }
    a:hover {
        color: #535353 !important;
    }
    a:active {
        color: #837e6a !important;
    }
    ul#menu-list li, ul#pm-menu-list li {
        border-left-color: #373737 !important;
    }
    div#showvotes, div.box, p.box, table.userlist, div#menu, div#pm-menu, div#search, div#tasklist, div#taskdetails, div.redirectmessage, table.history, div.popup, div.denyform, fieldset, div.tbuttons, div.tab {
        background-color: #0D0D0D !important;
    }
    input.text, input.password, input.file, textarea, select, .date, .date:hover, span.autocomplete {
        color: #89816a !important;
        background-color: #0D0D0D !important;
    }
    div#search, div#taskdetails, fieldset, div.tab {
        border-color: #373737 !important;
    }
    fieldset {
        border-color: #1C1C1C !important;
    }
    div#search fieldset {
        border-color: #1C1C1C !important;
    }
    div#tasklist {
        border-color: #292929 !important;
    }
    div#tasklist table td {
        border-bottom-color: #199ADF !important;
    }
    td.task_summary a {
        color: #573627 !important;
    }
    td.task_summary a:visited {
        color: #573627 !important;
    }
    td.task_summary a:hover {
        color: #979797 !important;
    }
    p.box {
        border-color: #111B27 !important;
    }
    div#fineprint {
        border-bottom-color: #1C1C1C !important;
    }
    td#taskfieldscell {
        border-right-color: #1C1C1C !important;
    }
    div#taskinfo {
        border-top-color: #1C1C1C !important;
    }
    #submenu a {
        background-color: #0D0D0D !important;
        border-color: #384343 !important;
    }
    #submenu a.active {
        background-color: #1C1C1C !important;
        border-bottom-color: #0D1318 !important;
    }
    div#comments {
        background-color: #1C1C1C !important;
        border-color: #384343 !important;
    }
    div#comments fieldset {
        background-color: #0D0D0D !important;
        border-color: #1D1D28 !important;
    }
    div.attachments {
        background-color: #0D0D0D !important;
        border-color: #111127 !important;
    }
    table#tasks_related td {
        border-top-color: #373737 !important;
    }
    div#remind table th {
        border-bottom-color: #292929 !important;
    }
    table.history td {
        border-bottom-color: #373737 !important;
    }
    fieldset legend {
        color: #979797 !important;
    }
    p#footer a {
        color: #573627 !important;
    }
    div#toolboxmenu {
        background-color: #0D0D0D !important;
        border-color: #292929 !important;
    }
    div#toolboxmenu a {
        color: #573627 !important;
        border-color: #373737 !important;
    }
    div#toolboxmenu a:hover {
        color: #573627 !important;
    }
    div.tbuttons {
        border-color: #292929 !important;
    }
    #archnavbar {
        background-color: #090909 !important;
        border-bottom-color: #199ADF !important;
    }
    #archnavbar ul li a {
        color: #535353 !important;
    }
    #archnavbar ul li a:hover {
        color: #199ADF !important;
        text-decoration: none !important;
    }
    input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], textarea {
        background-color: #181818 !important;
        border: 1px solid #ccc !important;
        border-radius: 3px !important;
        padding: 2px !important;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset !important;
        color: #f3f3f3 !important;
        font-size: 13px !important;
        outline: medium none !important;
    }
    input[type="text"]:focus, input[type="search"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="url"]:focus, textarea:focus {
        border-color: #4183c4 !important;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset, 0 0 2px #4183c4 !important;
    }
    button, input[class="button"], input[type="submit"], input[type="file"] {
        font: 13px/1.4 Helvetica,arial,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol" !important;
        cursor: pointer !important;
        background: none repeat scroll 0 0 #181818 !important;
        border: 1px solid #ccc !important;
        color: #c4c4c4 !important;
        border-radius: 3px !important;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset !important;
    }
    button:hover, input[class="button"]:hover, input[type="submit"]:hover, input[type="file"]:hover {
        background-color: #333333 !important;
        background-image: linear-gradient(#444444, #333333) !important;
        background-repeat: repeat-x !important;
    }
    #actionlist input {
        color: #199ADF !important;
        border: none !important;
    }
    select {
        padding: 2px 4px 2px 2px !important;
        font: 13px/1.4 Helvetica,arial,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol" !important;
        box-sizing: border-box !important;
        background: none repeat scroll 0 0 #181818 !important;
        border: 1px solid #444 !important;
        color: #eee !important;
    }
    div#container p#footer {
        background-color: #000000 !important;
    }


/* wiki.archlinux.org */

input, textarea, select {
        padding: 2px 4px 2px 2px !important;
        color: #817d71;
        background-color: #1a1a1a;
        border-color: #1a1a1a;
        -moz-appearance: none !important;
}
    div[style='background-image: url("chrome://yass/content/edgebgtop.png");'] {
        background-image: ;
    }
    th[style='background: #333; color: white; padding: 3px;'] {
        background-color: #090909 !important;
        color: #454239 !important;
    }
    th[style='background: #333; color: white; padding: 2px;'] {
        background-color: #090909 !important;
        color: #454239 !important;
    }
    div[style='padding: 5px; margin: 0.50em 0; background-color: #DDFFDD; border: thin solid #BBDDBB; overflow: hidden;'] {
        background-color: #1a1a1a !important;
        border-color: #4183c4 !important;
    }
    div[style='padding: 5px; margin: 0.50em 0; background-color: #FFDDDD; border: thin solid #DDBBBB; overflow: hidden;'] {
        background-color: #1a1a1a !important;
        border-color: #341f1e !important;
    }
    div[style='padding: 5px; margin: 0.50em 0; background-color: #DDDDFF; border: thin solid #BBBBDD; overflow: hidden;'] {
        background-color: #1a1a1a !important;
        border-color: #1f1e34 !important;
    }
    div[style='background-image: url("chrome://yass/content/edgebgbot.png");'] {
        background-image: ;
    }
    mark {
        background-color: #828282 !important;
        color: #CFCFCF !important;
    }
    .mw-plusminus-pos {
        color: #5FED61 !important;
    }
    .mw-plusminus-neg {
        color: #EA4542 !important;
    }
    .mw-plusminus-null {
        color: #454545 !important;
    }
    .filehistory a img, #file img:hover {
        background-color: #0D0D0D !important;
        background-image: ;
        background-repeat: repeat !important;
    }
    li span.deleted, span.history-deleted {
        color: #606060 !important;
    }
    .not-patrolled {
        background-color: #2F2F2F !important;
    }
    .unpatrolled {
        color: #BA1715 !important;
    }
    .mw-htmlform-invalid-input td.mw-input input {
        border-color: #BA1715 !important;
    }
    .catlinks li {
        border-left-color: #454545 !important;
    }
    .os-suggest {
        background-color: #0D0D0D !important;
        border-color: #454545 !important;
    }
    .os-suggest-result, .os-suggest-result-hl {
        background-color: #0D0D0D !important;
        color: #CFCFCF !important;
    }
    .os-suggest-result-hl, .os-suggest-result-hl-webkit {
        background-color: #888888 !important;
        color: #199ADF !important;
    }
    .autocomment {
        color: #676767 !important;
    }
    #pagehistory li {
        border-color: #199ADF !important;
    }
    #pagehistory li.selected {
        background-color: #100f0d !important;
        border-color: #454545 !important;
    }
    div.mw-warning-with-logexcerpt {
        border-color: #4076AC !important;
    }
    a.new {
        color: #E62320 !important;
    }
    table.wikitable {
        background-color: #100f0d !important;
        border-color: #454545 !important;
        color: #CFCFCF !important;
    }
    table.wikitable > tr > th, table.wikitable > tr > td, table.wikitable > * > tr > th, table.wikitable > * > tr > td {
        border-color: #454545 !important;
    }
    table.wikitable > tr > th, table.wikitable > * > tr > th {
        background-color: #121212 !important;
    }
    table tbody tr td[style="background:#f0f0f0;"], table tbody tr[style="background:#e4e4e4"] {
        background-color: #222 !important;
    }
    .success {
        color: #4AEB4D !important;
    }
    .warning {
        color: #BA8215 !important;
    }
    .error {
        color: #BA1715 !important;
    }
    .errorbox, .warningbox, .successbox {
        color: #CFCFCF !important;
    }
    .errorbox {
        border-color: #BA1715 !important;
        background-color: #100f0d !important;
    }
    .warningbox {
        border-color: #BA7215 !important;
        background-color: #242424 !important;
    }
    .successbox {
        border-color: #4AEB4D !important;
        background-color: #1a1a1a !important;
    }
    .mw-infobox {
        border-color: #BA6A15 !important;
    }
    .previewnote {
        color: #DF1C19 !important;
    }
    #mw_trackbacks {
        border-color: #060632 !important;
        background-color: #0D0D0D !important;
    }
    .mw-datatable, .mw-datatable td, .mw-datatable th {
        border-color: #454545 !important;
    }
    .mw-datatable th {
        background-color: #1a1a1a !important;
    }
    .mw-datatable td {
        background-color: #0D0D0D !important;
    }
    .mw-datatable tr:hover td {
        background-color: #0D0D0D !important;
    }
    .imagelist .TablePager_col_links {
        background-color: #0D0D0D !important;
    }
    .imagelist th.TablePager_sort {
        background-color: #1E1E1E !important;
    }
    ul#filetoc {
        border-color: #454545 !important;
        background-color: #100f0d !important;
    }
    table.mw_metadata td, table.mw_metadata th {
        border-color: #454545 !important;
    }
    table.mw_metadata th {
        background-color: #100f0d !important;
    }
    table.mw_metadata td {
        background-color: #080808 !important;
    }
    li.gallerybox div.thumb {
        border-color: #292929 !important;
        background-color: #100f0d !important;
    }
    .mw-help-field-hint {
        color: #414E54 !important;
    }
    .mw-help-field-hint:hover {
        background-image: ;
    }
    .mw-help-field-data {
        background-color: #191919 !important;
        border-color: #155977 !important;
    }
    .tipsy-inner {
        background-color: #191919 !important;
        color: #CFCFCF !important;
        border-color: #155977 !important;
    }
    #mw-allmessagestable .allmessages-customised td.am_default {
        background-color: #222222 !important;
    }
    #mw-allmessagestable tr.allmessages-customised:hover td.am_default {
        background-color: #3B3B3B !important;
    }
    #mw-allmessagestable td.am_actual {
        background-color: #131313 !important;
    }
    #mw-allmessagestable tr.allmessages-customised:hover + tr.allmessages-customised td.am_actual {
        background-color: #2B2B2B !important;
    }
    .mw-search-result-data {
        color: #4AEB4D !important;
    }
    .mw-search-formheader {
        background-color: #111111 !important;
        border-color: #333333 !important;
    }
    .mw-search-formheader div.search-types ul li.current a {
        color: #A5A5A5 !important;
    }
    fieldset#mw-searchoptions {
        background-color: #100f0d !important;
        border-color: #333333 !important;
    }
    fieldset#mw-searchoptions div.divider {
        border-bottom-color: #1C1C1C !important;
    }
    div#mw-search-interwiki {
        border-color: #454545 !important;
    }
    .mw-search-interwiki-project {
        background-color: #181818 !important;
        border-top-color: #373737 !important;
    }
    div.searchdidyoumean {
        color: #DF1C19 !important;
    }
    .mw-userrights-disabled {
        color: #606060 !important;
    }
    a {
        color: #414E54 !important;
    }
    a:visited {
        color: #5B4AEB !important;
    }
    a:active {
        color: #FF1519 !important;
    }
    a.stub {
        color: #C26072 !important;
    }
    a.new, #p-personal a.new {
        color: #E62320 !important;
    }
    a.new:visited, #p-personal a.new:visited {
        color: #81504F !important;
    }
    .mw-body a.extiw, .mw-body a.extiw:active {
        color: #3C60A1 !important;
    }
    .mw-body a.extiw:visited {
        color: #AE73AD !important;
    }
    .mw-body a.extiw:active {
        color: #A1633C !important;
    }
    .mw-body a.external {
        color: #3C60A1 !important;
    }
    .mw-body a.external:visited {
        color: #AE73AD !important;
    }
    .mw-body a.external:active {
        color: #A1633C !important;
    }
    hr {
        color: #454545 !important;
        background-color: #585858 !important;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #CFCFCF !important;
        border-bottom-color: #454545 !important;
    }
    code {
        background-color: #100f0d !important;
    }
    pre, .mw-code {
        border-color: #4076AC !important;
        color: #CFCFCF !important;
        background-color: #100f0d !important;
    }
    fieldset {
        border-color: #4076AC !important;
    }
    #toc, .toc, .mw-warning {
        border-color: #454545 !important;
        background-color: #100f0d !important;
    }
    .toccolours {
        border-color: #454545 !important;
        background-color: #100f0d !important;
    }
    div.thumbinner {
        border-color: #292929 !important;
        background-color: #100f0d !important;
    }
    html .thumbimage {
        border-color: #292929 !important;
    }
    img.thumbborder {
        border-color: #1C1C1C !important;
    }
    #userlogin, #userloginForm {
        border-color: #292929 !important;
    }
    .catlinks {
        border-color: #454545 !important;
        background-color: #100f0d !important;
    }
    .usermessage {
        background-color: #464646 !important;
        border-color: #BA8215 !important;
        color: #CFCFCF !important;
    }
    #contentSub, #contentSub2 {
        color: #696969 !important;
    }
    div#content {
        background-color: #100f0d !important;
        color: #CFCFCF !important;
        border-top-color: #454545 !important;
        border-bottom-color: #454545 !important;
        border-left-color: #454545 !important;
    }
    body {
        background-color: #1a1a1a !important;
        color: #CFCFCF !important;
    }
    a {
        color: #837e6a !important;
    }
    a:visited {
        color: #573627 !important;
    }
    a.new, #p-personal a.new {
        color: #DF3D19 !important;
    }
    #bodyContent a.extiw, #bodyContent a.extiw:active {
        color: #454239 !important;
    }
    #bodyContent a.external {
        color: #454239 !important;
    }
    .pBody {
        background-color: #100f0d !important;
        color: #CFCFCF !important;
        border-color: #454545 !important;
    }
    #p-personal ul {
        color: #4076AC !important;
    }
    #p-personal li {
        color: #4076AC !important;
    }
    #p-personal li a {
        color: #3A9EE9 !important;
    }
    #p-personal li a:hover {
        background-color: #100f0d !important;
    }
    #p-cactions li {
        border-top-color: #454545 !important;
        border-right-color: #454545 !important;
        border-left-color: #454545 !important;
        background-color: #100f0d !important;
    }
    #p-cactions li.selected {
        border-color: #A17C15 !important;
    }
    #p-cactions li a {
        background-color: #090909 !important;
        color: #224CE6 !important;
    }
    #p-cactions li.selected a {
        background-color: #100f0d !important;
    }
    #p-cactions .new a {
        color: #E62320 !important;
    }
    #p-cactions li a:hover {
        background-color: #100f0d !important;
    }
    #t-ispermalink, #t-iscite {
        color: #535353 !important;
    }
    div#footer {
        background-color: #100f0d !important;
        border-top-color: #A17C15 !important;
        border-bottom-color: #A17C15 !important;
    }
    #preftoc li {
        background-color: #141414 !important;
        color: #CFCFCF !important;
    }
    #preftoc li {
        border-top-color: #199ADF !important;
        border-left-color: #199ADF !important;
        border-right-color: #7E7D72 !important;
    }
    #preftoc li.selected {
        background-color: #100f0d !important;
        border-top-color: #454545 !important;
        border-right-color: #454545 !important;
        border-left-color: #454545 !important;
    }
    #preftoc a, #preftoc a:active {
        color: #CFCFCF !important;
    }
    #preferences {
        border-color: #454545 !important;
        background-color: #100f0d !important;
    }
    .prefsection table, .prefsection legend {
        background-color: #100f0d !important;
    }
    td.htmlform-tip {
        color: #573627 !important;
    }
    div#userloginForm, div#userlogin {
        border-color: #454545 !important;
        background-color: #100f0d !important;
    }
    div#userloginForm table, div#userlogin table {
        background-color: #100f0d !important;
    }
    div#userlogin .captcha, div#userloginForm .captcha {
        border-color: #373737 !important;
        background-color: #100f0d !important;
    }
    * > html #p-cactions li a {
        border-top-color: #454545 !important;
        border-right-color: #454545 !important;
        border-left-color: #454545 !important;
    }
    * > html #p-cactions li.selected a {
        border-color: #A17C15 !important;
    }
    span.updatedmarker {
        color: #CFCFCF !important;
        background-color: #828282 !important;
    }
    .editExternally {
        border-color: #676767 !important;
        background-color: #100f0d !important;
    }
    .editExternallyHelp {
        color: #676767 !important;
    }
    div.noarticletext {
        border-color: #292929 !important;
        background-color: #100f0d !important;
        color: #CFCFCF !important;
    }
    div.editOptions {
        border-color: #292929 !important;
        background-color: #100f0d !important;
        color: #CFCFCF !important;
    }
    div#searchTargetContainer {
        background-color: #100f0d !important;
    }
    div#searchTarget {
        background-color: #141414 !important;
        border-color: #1715BA !important;
    }
    div#searchTarget ul li:before {
        color: #BA8215 !important;
    }
    div#searchTargetHide {
        border-color: #CFCFCF !important;
        background-color: #272727 !important;
    }
    div.multipageimagenavbox {
        border-color: #333333 !important;
        background-color: #141414 !important;
    }
    div.mw-lag-warn-normal {
        border-color: #70500C !important;
        background-color: #1E1E1E !important;
    }
    div.mw-lag-warn-high {
        border-color: #BA1533 !important;
        background-color: #1E1E1E !important;
    }
    div.archwiki-template-message {
        background-color: #000000 !important;
    }
    .MediaTransformError {
        background-color: #373737 !important;
    }
    body {
        background-color: #100f0d !important;
    }
    body, #content, table {
        color: #89816a !important;
    }
    h1, h2, h3, h4, h5 {
        color: #89816a !important;
    }
    pre, code, tt {
        background-color: #141414 !important;
        color: #89816a !important;
    }
    pre {
        border-color: #1E2934 !important;
    }
    a:link, #p-cactions li a, #p-personal li a, #bodyContent a.external {
        color: #573627 !important;
    }
    a:visited, #bodyContent a.external:visited {
        color: #573627 !important;
    }
    a:focus {
        color: #837e6a !important;
    }
    a:hover, #p-personal li a:hover, #bodyContent #toc a:hover, #bodyContent a.external:hover {
        color: #535353 !important;
    }
    a:active {
        color: #837e6a !important;
    }
    a.new, #p-cactions .new a {
        color: #E6231F !important;
    }
    #toc, .toc, .mw-warning {
        background-color: #100f0d !important;
        border-color: #181D1F !important;
    }
    .pBody {
        border-color: #1C1C1C !important;
    }
    div#content {
        border-color: #292929 !important;
    }
    div#footer {
        color: #606060 !important;
    }
    #archnavbar {
        background-color: #090909 !important;
        border-bottom-color: #199ADF !important;
    }
    #archnavbar ul li a {
        color: #535353 !important;
    }
    #archnavbar ul li a:hover {
        color: #199ADF !important;
        text-decoration: none !important;
    }
    input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], textarea {
        background-color: #181818 !important;
        border: 1px solid #ccc !important;
        border-radius: 3px !important;
        padding: 2px !important;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset !important;
        color: #f3f3f3 !important;
        font-size: 13px !important;
        outline: medium none !important;
    }
    input[type="search"] {
        width: 100% !important;
        margin-bottom: 5px !important;
    }
    input[type="text"]:focus, input[type="search"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="url"]:focus, textarea:focus {
        border-color: #4183c4 !important;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset, 0 0 2px #4183c4 !important;
    }
    input[class="button"], input[type="submit"], input[type="file"] {
        font: 13px/1.4 Helvetica,arial,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol" !important;
        cursor: pointer !important;
        background: none repeat scroll 0 0 #181818 !important;
        border: 1px solid #ccc !important;
        color: #c4c4c4 !important;
        border-radius: 3px !important;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset !important;
    }
    input[class="button"]:hover, input[type="submit"]:hover, input[type="file"]:hover {
        background-color: #333333 !important;
        background-image: linear-gradient(#444444, #333333) !important;
        background-repeat: repeat-x !important;
    }
    #actionlist input {
        color: #199ADF !important;
        border: none !important;
    }
    select {
        padding: 2px 4px 2px 2px !important;
        font: 13px/1.4 Helvetica,arial,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol" !important;
        box-sizing: border-box !important;
        background: none repeat scroll 0 0 #1a1a1a !important;
        border: 1px solid #444 !important;
        color: #eee !important;
    }

/* forums.archlinux.org */
@-moz-document domain(bbs.archlinux.org) {
    input, textarea, select {
        padding: 2px 4px 2px 2px !important;
        color: #CFCFCF;
        background-color: #100f0d;
        border-color: #353535;
        -moz-appearance: none !important;
    }
    html, body, .pun {
        background-color: #100f0d !important;
        color: #A5A5A5 !important;
    }
    .pun .punwrap {
        background-color: #100f0d !important;
        border-color: #1A2229 !important;
        color: #6A788B !important;
    }
    #brdtitle #brddesc, .pun .pagepost, #brdstats #onlinelist, #brdfooter #searchlinks, #brdfooter #modcontrols, #punmaint h2, #punredirect h2, #adminconsole .submittop, .pun #debugtime, .pun .pagelink a, .pun .pagelink * {
        border-color: #293137 !important;
    }
    .pun a, .pun a:link, .pun a:visited {
        color: #595548 !important;
    }
    .pun a:hover, .pun a:active, .pun a:focus {
        color: #E72724 !important;
    }
    .pun .postmsg .postimg a:link img, .pun .postmsg .postimg a:visited img {
        border-color: #5084C2 !important;
    }
    .pun .postmsg .postimg a:hover img, .pun .postmsg .postimg a:active img, .pun .postmsg .postimg a:focus img {
        border-color: #E72724 !important;
    }
    #brdmenu {
        background-color: #919191 !important;
    }
    #brdmenu a, #brdmenu a:link, #brdmenu a:visited {
        background-color: #919191 !important;
        border-color: transparent !important;
        color: #191C22 !important;
    }
    #brdmenu a:hover, #brdmenu a:active, #brdmenu a:focus {
        background-color: #A6A6A6 !important;
        border-color: transparent !important;
        color: #199ADF !important;
    }
    .pun .blocktable .box {
        background-color: #070707 !important;
        border-color: #293137 !important;
    }
    #punindex .blocktable h2, .pun #vf h2 {
        color: #5B99AE !important;
    }
    #adminconsole fieldset th, #adminconsole fieldset td {
        background-color: #100f0d !important;
        border-color: #0F1319 !important;
    }
    .pun #users1 h2 {
        background-color: #100f0d !important;
    }
    .pun .blocktable td {
        border-color: #0F1319 !important;
    }
    .pun .blocktable th {
        background-color: #141414 !important;
        border-color: #1A2229 !important;
        color: #5B99AE !important;
    }
    .pun .blocktable td.tcl span.stickytext {
        color: #367699 !important;
    }
    .pun .blockpost {
        background-color: #100f0d !important;
        border-color: #293137 !important;
    }
    .pun .blockpost h2 {
        background-color: #141414 !important;
        border-color: #1A2229 !important;
        color: #5B99AE !important;
    }
    .pun .blockpost .postbody, .pun .blockpost .postfoot {
        background-color: #070707 !important;
        border-color: #0F1319 !important;
    }
    .pun .blockpost .postfootright li {
        color: #010202 !important;
    }
    .pun .postmsg, #punhelp code, #punhelp samp {
        color: #A5A5A5 !important;
    }
    .pun .postsignature, .pun .postmsg .postedit {
        color: #6A788B !important;
    }
    .pun .quotebox {
        background-color: #0F0F0F !important;
        border-color: #3B5B66 !important;
        color: #6A788B !important;
    }
    .pun .quotebox cite {
        color: #5B99AE !important;
    }
    .pun .codebox, #punhelp .codebox code {
        background-color: #090909 !important;
        color: #199ADF !important;
    }
    .pun .postmsg hr {
        background-color: #3F3F3F !important;
    }
    .pun .postmsg ins, #punhelp samp ins {
        background-color: #828282 !important;
    }
    .pun .blockform .box, #adstats, #adintro, #postpreview, #posterror {
        border-color: #293137 !important;
        background-color: #141414 !important;
    }
    #punmisc #rules .box, #punhelp .box {
        border-color: #293137 !important;
        background-color: #100f0d !important;
    }
    .pun #quickpost h2, #punpost .blockform h2, #punedit .blockform h2, #posterror h2, #pundelete .blockform h2 {
        background-color: #141414 !important;
        color: #5B99AE !important;
    }
    .pun .forminfo {
        background-color: #100f0d !important;
        border-color: #0F1319 !important;
    }
    #puninstall form#install .forminfo {
        background-color: #919191 !important;
        color: #199ADF !important;
    }
    .pun #posterror .error-info {
        background-color: #141414 !important;
        border-color: #0F1319 !important;
    }
    #puninstall form#install .error-info {
        background-color: #141414 !important;
        border-color: #0F1319 !important;
        color: #A5A5A5 !important;
    }
    .pun .infldset, #adintro .inbox, #adstats .inbox {
        background-color: #100f0d !important;
        border-color: #0F1319 !important;
    }
    .pun label, .pun legend, #adminconsole fieldset th {
        color: #5B99AE !important;
    }
    .pun fieldset p {
        border-color: #293137 !important;
    }
    .pun .blockmenu ul, .pun .blockmenu li {
        border-color: #293137 !important;
    }
    .pun .blockmenu a:hover, .pun .blockmenu a:active, .pun .blockmenu a:focus {
        background-color: #111111 !important;
    }
    .pun .blockmenu .isactive a:link, .pun .blockmenu .isactive a:visited {
        color: #A5A5A5 !important;
        background-color: #100f0d !important;
    }
    .pun #viewprofile .box {
        border-color: #293137 !important;
        background-color: #141414 !important;
    }
    .pun #viewprofile dt, #adstats dt {
        color: #5B99AE !important;
    }
    .pun #viewprofile dl, .pun #viewprofile dd, #adstats dl, #adstats dd {
        border-color: #0F1319 !important;
    }
    #adminconsole fieldset td.nodefault {
        background-color: #4B4B4B !important;
    }
    .pun .multiselect {
        padding: 2px 4px 2px 2px !important;
        color: #5B99AE !important;
    }
    .pun .checklist {
        background-color: #100f0d !important;
        border-color: #292929 !important;
    }
    .pun .icon {
        border-color: #0C0F12 !important;
    }
    .pun .iredirect .icon {
        border-color: #293137 !important;
    }
    .pun .inew .icon {
        border-color: #253A53 !important;
    }
    html, body, .pun {
        background-color: #100f0d !important;
        color: #89816a !important;
    }
    .pun .punwrap {
        border-color: #1E2934 !important;
    }
    .pun a, .pun a:link, .pun a:visited {
        color: #573627 !important;
    }
    .pun a:focus, #brdmain a:focus {
        color: #837e6a !important;
    }
    .pun a:hover, #brdmain a:hover {
        color: #535353 !important;
    }
    .pun a:active, #brdmain a:active {
        color: #837e6a !important;
    }
    #brdmenu {
        background-color: #100f0d !important;
    }
    #brdmenu a, #brdmenu a:link, #brdmenu a:visited {
        background-color: #100f0d !important;
        color: #573627 !important;
    }
    #brdmain a:visited {
        color: #573627 !important;
    }
    #brdmenu a:hover {
        color: #535353 !important;
    }
    #brdmenu a:active, #brdmenu a:focus {
        color: #837e6a !important;
    }
    #punindex .blocktable h2, .pun #vf h2 {
        color: #979797 !important;
    }
    .pun .blocktable th {
        color: #979797 !important;
    }
    .pun .blockpost h2 {
        color: #979797 !important;
    }
    .pun .quotebox cite {
        color: #979797 !important;
    }
    .pun #quickpost h2, #punpost .blockform h2, #punedit .blockform h2, #posterror h2, #pundelete .blockform h2 {
        color: #979797 !important;
    }
    .pun label, .pun legend, #adminconsole fieldset th {
        color: #979797 !important;
    }
    .pun #viewprofile dt, #adstats dt {
        color: #979797 !important;
    }
    .pun .icon {
        border-color: #0C0F12 !important;
    }
    .pun .inew .icon {
        border-color: #573627 !important;
    }
    .pun .quotebox {
        border-color: #1E2934 !important;
        background-color: #100f0d !important;
        color: #979797 !important;
    }
    .pun .codebox {
        border-color: #1E2934 !important;
        background-color: #141414 !important;
        color: #89816a !important;
    }
    #archnavbar {
        background-color: #090909 !important;
        border-bottom-color: #199ADF !important;
    }
    #archnavbar ul li a {
        color: #535353 !important;
    }
    #archnavbar ul li a:hover {
        color: #199ADF !important;
        text-decoration: none !important;
    }
    input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], textarea {
        background-color: #181818 !important;
        border: 1px solid #ccc !important;
        border-radius: 3px !important;
        padding: 2px !important;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset !important;
        color: #f3f3f3 !important;
        font-size: 13px !important;
        outline: medium none !important;
    }
    input[type="text"]:focus, input[type="search"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="url"]:focus, textarea:focus {
        border-color: #4183c4 !important;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset, 0 0 2px #4183c4 !important;
    }
    input[class="button"], input[type="submit"], input[type="file"] {
        font: 13px/1.4 Helvetica,arial,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol" !important;
        cursor: pointer !important;
        background: none repeat scroll 0 0 #181818 !important;
        border: 1px solid #ccc !important;
        color: #c4c4c4 !important;
        border-radius: 3px !important;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset !important;
    }
    input[class="button"]:hover, input[type="submit"]:hover, input[type="file"]:hover {
        background-color: #333333 !important;
        background-image: linear-gradient(#444444, #333333) !important;
        background-repeat: repeat-x !important;
    }
    #actionlist input {
        color: #199ADF !important;
        border: none !important;
    }
    select {
        padding: 2px 4px 2px 2px !important;
        font: 13px/1.4 Helvetica,arial,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol" !important;
        box-sizing: border-box !important;
        background: none repeat scroll 0 0 #181818 !important;
        border: 1px solid #444 !important;
        color: #eee !important;
    }
