body
{
	background-image: url('home.jpg');
	background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
   
}


* {
	font-family: 'Tamsyn';
	font-size: 90%;
	font-weight: 200;
}

#container {
	position: absolute;
	padding: 0 20px 0 20px;
	top: 25%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width:  300px;
	height: 400px;
}

#header {
    /*-webkit-box-shadow: 0px 0px 2px 0px #000;
    -moz-box-shadow: 0px 0px 2px 0px #000;
     box-shadow: 0px 0px 2px 0px #000;

	border: 1px solid rgba(0,0,0,0.5);
	border-radius:2px;
	background-color: rgba(0,0,0,0.8);*/
	text-align: center;
}
#header iframe{

}

#links {
	/*display: -webkit-box;
  	display: -moz-box;*/
	width: 100%;
}

.linksbox {
    -webkit-box-shadow: 0px 0px 2px 0px #000;
    -moz-box-shadow: 0px 0px 2px 0px #0000;
 	 box-shadow: 0px 0px 2px 0px #0000;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;

	margin: 4px;
	padding: 8px 8px 8px 8px;
	background-color: rgba(0,0,0,0.8);
	border: 1px solid rgba(0,0,0,0.5);
	border-radius:2px;
}

.linksbox a {
	display: block;
	color: #2f2f2f;
	text-align: center;
}

h3 {
	font-size: 14px;
	margin-bottom: 2px;
	margin-top: 0;
	padding: 0;
	color: #5d5d5d;
	text-align: center;
}

#other{
   color: #b31010;
}
#social{
  color: #8b8b8b;
}
a {
	font-size: 12px;
	text-decoration: none;
	margin-left: 2px;
	margin-bottom: 0.5%;
}
/*
a:link, a:visited {
	color: #573627;
} */

a:hover { 
	color: #d0d0d0;
}
